<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FoodNote</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/Style.css" />
</head>
<body>
    <!-- Questions? Please ask them :) grtz Sander -->
    <div class="grid-container">
        <!-- Navigation Bar -->
        <div id="SideNav" class="SideBar">
            <a href="Index">
                <img src="~/img/Logo.jpg"
                     width="150" height="150">
            </a>
            <div id="SubNav" class="SideBar">
                <a class="button nav-link text-dark" id="SubNavText" asp-area="ResupplyRequest.html" asp-page="/ResupplyRequest">Resupply Request</a>
            </div>
        </div>

        <!-- Header bar -->
        <div id="Header">
            <h1 class="Title">Media<i class="Bazaar">Bazaar</i></h1>
        </div>
        <!-- Lower/Sub Navigation Bar -->
        <div id="SubNav" class="SideBar">
            <a class="button nav-link text-dark" id="SubNavText" asp-area="Profile.html" asp-page="/Profile">Profile</a>
        </div>


        <!-- Main -->
        <div id="Main">
            @RenderBody()
        </div>
    </div>

    <!--
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    -->

    @RenderSection("Scripts", required: false)
</body>
</html>
