@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";}

<div class="flex-container">
    <p>
        
    </p>
    @try 
    { 
    }
     catch
     {
        <p>We're sorry, something went wrong</p>
     }
</div>
