@page
@model IndexModel
@{ 
    ViewData["Title"] = "Home page";
}

<div id="Base">
    @try
    {
        <p>Main Page</p>
    }
    catch
        {
        <p>We're sorry, something went wrong</p>
        }
</div>