@page
@model MediaBazaarWebKSAsolutions.Pages.ProfileModel
@{
    ViewData["Title"] = "Profile Page";
}

<div id="Base">
    <div id="BaseField">

        <h1>Profile</h1>
        <br />
        <h2>Welcome <i>@Model.UsernameFromSession</i></h2>
        <br />
        <!-- View user data -->
        <br />
        <form method="post">
            <label asp-for="profileUsername">Username: *</label> <br />
            <span asp-validation-for="profileUsername"></span><br />
            <input disabled class="loginwidth" asp-for="profileUsername" /> <br /> <br />

            <label asp-for="profileEmail">Email: * </label> <br />
            <span asp-validation-for="profileEmail"></span><br />
            <input class="loginwidth" asp-for="profileEmail" /> <br /> <br />

            <label asp-for="profilePassword"> Password: * </label> <br />
            <span asp-validation-for="profilePassword"></span><br />
            <input class="loginwidth" asp-for="profilePassword" /> <br /> <br />

            <input class="button loginwidth" name="submit" type="submit" value="Update" /> <br /> <br />
        </form>

        <!-- End user data -->

        <form method="post">
            <input class="button loginwidth" name="submit" type="submit" value="Logout" /> <br /> <br />
        </form>
    </div>
</div>